<div class="table-responsive">
  <% @active_vessels.each do |vessel| %>
    <% unless @active_vessels.empty? %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title" >
                <%= vessel.vsl_name %> 
                <% if vessel.positions.last.nav_status =~ /Way|Underway/ %>
                  <span class="label label-success"><%= vessel.positions.last.nav_status %></span>
                <% elsif vessel.positions.last.nav_status =~ /Unknown/%>
                  <span class="label label-default"><%= vessel.positions.last.nav_status %></span>
                <% else %>
                  <span class="label label-warning"><%= vessel.positions.last.nav_status %></span>
                <% end %>
            </h1>
          </div>
          <div id="<%= vessel.id %>" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-xs-8">
                      <small>Direction</small>
                    </div>
                    <div class="col-xs-4">
                      <small>ETA</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-8">
                        <% if !vessel.positions.last.nil? then %>
                            <h5><strong>
                            <% if !vessel.positions.last.prev_dest.blank? then %>
                              <%= vessel.positions.last.prev_dest %>
                            <% else %>
                              <kbd><samp><%= "UNKNOWN" %></samp></kbd>
                            <% end %>
                              > 
                            <% if !vessel.positions.last.dest.blank? then %>
                              <%= vessel.positions.last.dest %>
                            <% else %>
                              <kbd><samp><%= "UNKNOWN" %></samp></kbd>
                            <% end %>
                          </strong></h5>
                        <% end %>
                    </div>
                    <div class="col-xs-4">
                      <h5><strong>
                        <% if !vessel.positions.last.nil? then %>
                          <% if !vessel.positions.last.eta.blank? then %>
                            <%= vessel.positions.last.eta.to_formatted_s(:day_month)  unless vessel.positions.nil? || vessel.positions.last.nil? || vessel.positions.last.eta.nil?%>&nbsp;
                          <% else %>
                              <kbd><samp><%= "UNKNOWN" %>&nbsp;</samp></kbd>
                          <% end %>
                        <% end %>
                      </strong></h5>
                    </div>
                  </div>
                  <br / class="hidden-print">
                  <div class="row hidden-print">
                    <% if user_signed_in? %>
                        <div class="col-xs-6 hidden-print">
                          <% unless vessel.positions.last.nil? %>
                            <strong>Lat:</strong>
                              <% if !vessel.positions.last.lat.nil? %>
                                <samp><%= vessel.positions.last.lat %></samp><br />
                              <% else %>
                                <kbd><samp><%= "UNKNOWN" %></samp></kbd><br />
                              <% end %>
                            <strong>Long:</strong>
                              <% if !vessel.positions.last.long.nil? %>
                                <samp><%= vessel.positions.last.long %></samp>
                              <% else %>
                                <kbd><samp><%= "UNKNOWN" %></samp></kbd>
                              <% end %><br />
                          <% end %>
                        </div>
                    <% end %>  
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-xs-6">
                      <small>Vessel data</small>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <p>
                        <strong>Type:</strong>
                        <samp><%= vessel.vsl_type%></samp>
                      </p>
                      <% unless vessel.blt_year.nil? %>
                        <p>
                          <strong>Year built:</strong>
                          <samp><%= vessel.blt_year.to_formatted_s(:just_year) %></samp>
                        </p>
                      <% end %>
                    </div>
                    <div class="col-xs-6">
                      <p>
                        <strong>Flag:</strong>
                        <samp><%= vessel.vsl_flag unless vessel.nil? %></samp>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <p>
                        <strong>IMO:</strong>
                        <samp><%= vessel.imo %></samp>
                      </p>
                    </div>
                    <div class="col-xs-6">
                      <p>
                        <strong>MMSI:</strong>
                        <samp><%= vessel.mmsi unless vessel.mmsi.nil? %></samp>
                      </p>
                    </div>
                  </div>  
                </div>
                <div class="col-xs-6">
                  <% unless vessel.positions.empty? || vessel.positions.last.long.blank? || vessel.positions.last.lat.blank? %>
                    <% icon = URI.encode("icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon_withshadow&chld=sail|color:black|label:|", "&, |")%>

                    <% boom = "http://maps.googleapis.com/maps/api/staticmap?zoom=7&size=640x300&scale:2&maptype=roadmap&markers=#{icon}#{vessel.positions.last.lat},#{vessel.positions.last.long}" %>

                    <div style="background: url('<%= boom %>') center" class="last-map">
                    </div>
                    
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>