<% @active_vessels.each do |vessel| %>
  <% unless @active_vessels.empty? %>
      <div class="panel panel-info page-break">
        <div class="panel-heading">
          <h1 class="panel-title" >
              <%= vessel.vsl_name %> 
              <% if vessel.positions.last.nav_status =~ /Way|Underway/ %>
                <span class="label label-success"><%= vessel.positions.last.nav_status %></span>
              <% elsif vessel.positions.last.nav_status =~ /Unknown/%>
                <span class="label label-default"><%= vessel.positions.last.nav_status %></span>
              <% else %>
                <span class="label label-warning"><%= vessel.positions.last.nav_status %></span>
              <% end %>
          </h1>
        </div>
        <% unless vessel.positions.empty? || vessel.positions.last.long.blank? || vessel.positions.last.lat.blank? %>
          <% icon = URI.encode("icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon_withshadow&chld=sail|color:black|label:#{vessel.vsl_name}|", "&, |")%>

          <% boom = "http://maps.googleapis.com/maps/api/staticmap?zoom=7&size=600x480&scale:2&format=png32&maptype=roadmap&markers=#{icon}#{vessel.positions.last.lat},#{vessel.positions.last.long}" %>

        <div class="panel-body last-map-print" style="background: url('<%= boom %>') center no-repeat" >
        </div>
        <% end %>
      </div>
  <% end %>
<% end %>