<% title "Vessel" %>
<% unless @vessel.nil? %>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h1 class="panel-title">
			<%= @vessel.vsl_name %> (IMO <%= @vessel.imo %>)
			
		    <%= link_to 'PDF', vessel_path(@vessel, :format => :pdf), :class => "btn btn-xs btn-default pull-right hidden-print" %>
		    </h1>
		</div>
		<div class="panel-body">
	    	<div class="row">
                <div class="col-xs-5">
					<div class="row">
						<div class="col-xs-6">
							<p>
							  <strong>Type:</strong>
							  <samp><%= @vessel.vsl_type%></samp>
							</p>
							<% unless @vessel.blt_year.nil? %>
								<p>
								  <strong>Year built:</strong>
								  <samp><%= @vessel.blt_year.to_formatted_s(:just_year) %></samp>
								</p>
							<% end %>
						</div>
						<div class="col-xs-6">
							<p>
								<strong>Flag:</strong>
								<samp><%= @vessel.vsl_flag unless @vessel.nil? %></samp>
							</p>
							<p>
								<strong>Owner:</strong>
								<samp><%= @vessel.owner.name unless @vessel.nil? || @vessel.owner.nil? %></samp>
							</p>
						</div>
					</div>
					<br />
					<%= form_tag scan_gps_vessels_path, :method => :get do %>
					<div class="row">
						<% if user_signed_in? %>
                		<div class="col-xs-6">
							<% unless @vessel.positions.last.nil? %>
								<strong>Latitude:</strong>
				                    <% if !@vessel.positions.last.lat.nil? %>
				                        <samp><%= @vessel.positions.last.lat %></samp><br />
										<% else %>
										<kbd><samp><%= "UNKNOWN" %></samp></kbd><br />
										<% end %>
										<strong>Longitude:</strong>
										<% if !@vessel.positions.last.long.nil? %>
										<samp><%= @vessel.positions.last.long %></samp>
				                    <% else %>
										<kbd><samp><%= "UNKNOWN" %></samp></kbd>
				                    <% end %><br />
						            <%= hidden_field_tag :imo, @vessel.imo %>
						            <%= hidden_field_tag :id, @vessel.id %>
			                    <% end %>
		                </div>
		                <div class="col-xs-6">
		                	<%= submit_tag 'Update GPS', :class => "btn btn-default btn-xs vbottom" %><br />
		                	<small>last checked <strong><%= @vessel.positions.last.updated_at.strftime("%d-%b %H:%M") %></strong></small>
		                </div>
			            <% end %>  
		            </div>
		            <% end %>
					<br />
		            <div class="row">
		                <div class="col-xs-9">
		                	<strong>Status: </strong><%= @vessel.positions.last.nav_status %>
		                </div>
		            </div>
		            <div class="row">
		            	<div class="col-xs-12">
			                <% if !@vessel.positions.last.nil? then %>
			                  <% if !@vessel.positions.last.prev_dest.blank? then %>
			                    <% if @vessel.positions.last.prev_dest.length > 20 then %>
			                      <%= @vessel.positions.last.prev_dest[0..20] %> 
			                    <% else %>
			                      <%= @vessel.positions.last.prev_dest %> 
			                    <% end %>
			                  <% else %>
			                    <kbd><samp><%= "UNKNOWN" %></samp></kbd>
			                  <% end %>
			                  <span class="glyphicon glyphicon-arrow-right"></span> 
			                  <% if !@vessel.positions.last.dest.blank? then %>
			                    <% if @vessel.positions.last.dest.length > 20 then %>
			                      <%= @vessel.positions.last.dest[0..20] %> 
			                    <% else %>
			                      <%= @vessel.positions.last.dest %> 
			                    <% end %>
			                  <% else %>
			                    <kbd><samp><%= "UNKNOWN" %></samp></kbd>
			                  <% end %>
			                <% end %>
		                </div>
		            </div>
		            <br />
		            <div class="row">
		                <div class="col-xs-12">
		                	<strong>ETA: </strong>
		                	<% if !@vessel.positions.last.nil? then %>
		                    	<% if !@vessel.positions.last.eta.blank? then %>
			                		<%= @vessel.positions.last.eta.to_formatted_s(:day_month)  unless @vessel.positions.nil? || @vessel.positions.last.nil? || @vessel.positions.last.eta.nil?%>
			                	<% else %>
			                        <kbd><samp><%= "UNKNOWN" %></samp></kbd>
			                    <% end %>
		                    <% end %>
		                </div>
		            </div>
					<br />
					<br />
					
                    <div class="row hidden-print">
                    	<div class="col-xs-5">
							<%= link_to vessels_path, :type => "button", :class => "btn btn-default btn-xs"  do %>
								<i class="glyphicon glyphicon-arrow-left"></i> Back to list
							<% end %>
						</div>
					</div>
					<br />
					<br />
					<div class="row">
						<div class="col-xs-12">
							<% if user_signed_in? %>
								<p>
									<%= link_to 'Edit', edit_vessel_path(@vessel) %>
								</p>
							<% end %>
						</div>
					</div>
                </div>
                <div class="col-xs-7">
					<% unless @vessel.positions.empty? || @vessel.positions.last.long.blank? || @vessel.positions.last.lat.blank? %>
						<% icon = URI.encode("icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon_withshadow&chld=sail|color:black|label:|", "&, |")%>

                        <% boom = "http://maps.googleapis.com/maps/api/staticmap?zoom=7&size=640x300&scale:2&maptype=roadmap&markers=#{icon}#{@vessel.positions.last.lat},#{@vessel.positions.last.long}" %>

                        <div style="background: url('<%= boom %>') center" class="last-map">
                        	<div>
								<label class="map_sign"><%= @vessel.vsl_name %> (<%= @vessel.positions.last.last_upt %>)
								</label>
							</div>
						</div>
						<br />
					<% end %>
					<p class="hidden-print">
						<% unless @vessel.imo.nil? %>
							  See the <%= link_to "position", 'http://www.marinetraffic.com/ais/embed/zoom:7/maptype:2/notation:true/shownames:true/mmsi:'+ @vessel.mmsi + '/' %> or <%= link_to "general info", 'http://www.marinetraffic.com/en/ais/details/ships/'+ @vessel.imo + '/' %> on the MarineTraffic website
					  	<% end %>
					</p>
				</div>
			</div>
		</div>
	</div>
<% end %>