<% title "Shipment" %>
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="messageModalLabel">Sending status to clients</h4>
			</div><!-- modal-header -->
			<div class="modal-body">
			  <form>
			    <div class="form-group">
			      <label for="recipient-name" class="control-label">Recipients:</label>
			      <input type="text" class="form-control" id="recipient-name">
			    </div>
			    <div class="form-group">
			      <label for="subject-text" class="control-label">Subject:</label>
			      <input type="text" class="form-control" id="subject-text">
			    </div>
			    <div class="form-group">
			      <label for="message-text" class="control-label">Message:</label>
			      <textarea class="form-control" id="message-text"></textarea>
			    </div>
			  </form>
			</div><!-- modal-body -->
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary send">Send message</button>
			</div>
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->
<H2>
  <strong>M/V &ldquo;<%= @shipment.vessel.vsl_name %>&rdquo;</strong>
</H2>
<div>
	<hr class="hidden-xs">
</div>
<% @shipment.shipment_statuses.order('start_time ASC').each_with_index do |s, index| %>
	<div class="row">
		<h5>
			<div class="hidden-xs col-sm-3 col-md-2 col-lg-2 pull-left">
				<strong>
					<% if !s.start_time.nil?%>
						<%= s.start_time.to_formatted_s(:d_m_y)%>
					<% end %>
				</strong>
				<% if !s.start_time.nil? %>
					(<%= s.start_time.to_formatted_s(:h_m)%>)<br />
				<% else %>
					( &#63; )
				<% end %>
				<strong>
					<% if !s.comp_time.nil?%>
						<%= s.comp_time.to_formatted_s(:d_m_y)%>
					<% end %>
				</strong>
				<% if !s.comp_time.nil? %>
					(<%= s.comp_time.to_formatted_s(:h_m)%>)<br />
				<% else %>
					( &#63; )
				<% end %>
			</div>
			<div class="col-xs-8 hidden-sm hidden-md hidden-lg pull-left hidden-print">
				<strong>
					<% if !s.start_time.nil?%>
						<%= s.start_time.to_formatted_s(:d_m_y_h_m)%>
					<% else %>
						( &#63; )
					<% end %>
					&mdash;
					<% if !s.comp_time.nil?%>
						<%= s.comp_time.to_formatted_s(:d_m_y_h_m)%>
					<% else %>
						( &#63; )
					<% end %>
				</strong>
			</div>
			<div class="col-xs-1 hidden-sm hidden-md hidden-lg pull-left hidden-print">
				<% if user_signed_in? %>
				<!-- Button trigger modal -->
					<%= link_to 'send', message_path(:shipment => @shipment.id), {:remote => true,'class' => "btn btn-primary btn-sm",'type' => "button", 'data-toggle' => "modal", 'data-target' => "#messageModal", 'data-recipient' => "@mdo", 'data-subject' => @shipment.vessel.vsl_name} %>
				<% end %>
			</div>
			<div class="col-xs-1 hidden-sm hidden-md hidden-lg pull-right hidden-print">
				<% if user_signed_in? %>
					<%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, s, :class => 'delete', method: :delete, :remote => true %>
				<% end %>
			</div>
			<div class="col-xs-10 col-sm-7 col-md-8 col-lg-7 pull-left">
				<%= link_to s.status, edit_shipment_status_path(s) %><br />
				<%= s.description %>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-left hidden-xs">
				<% if user_signed_in? %>
					<%= link_to 'send', message_path(:shipment => @shipment.id), {:remote => true, 'class' => "btn btn-primary btn-xs",'type' => "button", 'data-toggle' => "modal", 'data-target' => "#messageModal", 'data-recipient' => "@mdo", 'data-subject' => @shipment.vessel.vsl_name} %>
				<% end %>
			</div>

			<div class="col-xs-1 pull-left hidden-print hidden-xs">
				<% if user_signed_in? %>
					<%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, s, :class => 'delete', method: :delete, :remote => true %>
				<% end %>
			</div>
		</h5>
	</div>

<% end %>
<br />
<br />
<% if user_signed_in? %>
	<div class="row hidden-print form-group col-xs-12">
		<div class="col-sm-3 col-md-2 col-lg-2" style="padding-left:0px;">
			<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#add_new_status" aria-expanded="false" aria-controls="add_new_status">
			  New status
			</button>
		</div>
		<br / class="hidden-sm hidden-md hidden-lg">
		<%= form_for(:shipment_status, :url => create_shipment_status_shipment_path()) do |f| %>
			<div id="add_new_status" class="collapse hidden-print col-xs-12 col-sm-9 col-md-10 col-lg-10 hidden-print" style="padding-left:0px;">
				<div class="field col-xs-12 col-sm-6 col-md-5 col-lg-5 hidden-print" style="padding-left:0px;">
					<%= f.text_field :status, :class => "form-control", :id => "inputStatus", :placeholder => "Write short status" %>
					<br / class="hidden-sm hidden-md hidden-lg">
				</div>
				<div class="field col-xs-12 col-sm-6 col-md-5 col-lg-5 hidden-print" style="padding-left:0px;">
					<%= f.text_area :description, :class => "form-control", :id => "inputDescription", :placeholder => "Include more details" %>
					<br />
				</div>
				<div class="field col-xs-12 col-sm-10 col-md-10 col-lg-10 hidden-print" style="padding-left:0px;">
					Start date - time
					<br />
						<%= f.datetime_select :start_time, :order => [:day, :month, :year, :hour, :minute, :second], :use_two_digit_numbers => true, :use_month_numbers => true, :date_separator => " / ", :discard_second => true, :include_blank => true, :default => Date.today, :start_year => 2011, :end_year => Date.today.year + 1, :minute_step => 15, :class => "form-control", :id => "inputStartTime" %>
					<br />
					<br />
				</div>
				<div class="field col-xs-12 col-sm-10 col-md-10 col-lg-10 hidden-print" style="padding-left:0px;">
					Expected completion date - time
					<br />
						<%= f.datetime_select :comp_time, :order => [:day, :month, :year, :hour, :minute, :second], :use_two_digit_numbers => true, :use_month_numbers => true, :date_separator => " / ", :discard_second => true, :include_blank => true, :default => Date.today, :start_year => 2011, :end_year => Date.today.year + 1, :minute_step => 15, :class => "form-control", :id => "inputCompTime" %>
				</div>

				<div class="actions field col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-print" style="padding-left:0px;">
					<br />
					<%= f.submit "Create", :class => "btn btn-primary" %>&nbsp;&nbsp;&nbsp;
					<a href="#" data-toggle="collapse" data-target="#add_new_status" aria-expanded="false" aria-controls="add_new_status">Cancel</a>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
<br / class="hidden-xs">
<br / class="hidden-xs">
<br / class="hidden-xs">
<br />
<div class="row hidden-print">
	<div class="col-xs-2">
		<%= link_to shipments_path, :type => "button", :class => "btn btn-default btn-xs"  do %>
			<i class="glyphicon glyphicon-arrow-left"></i> Back to list
		<% end %>
	</div>
</div>
<br />