<div class="navbar-xs hidden-print">
   <div class="navbar-primary hidden-print">
    <div class="navbar navbar-fixed-top hidden-print" role="navigation">
      <div class="container-fluid hidden-print">
        <div class="navbar-header hidden-print">
          <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only hidden-print">Toggle navigation</span>
            <span class="icon-bar hidden-print"></span>
            <span class="icon-bar hidden-print"></span>
            <span class="icon-bar hidden-print"></span>
          </button>
          <%= link_to "Shepherd", root_path, id: "logo", class: "navbar-brand hidden-print" %>
        </div>
        <div class="collapse navbar-collapse hidden-print" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right hidden-print">
            <li class="<%= "active" if current_page?(non_russian_path) %> hidden-print"><%= link_to "Research", non_russian_path %></li>
            <li class="<%= "active" if current_page?(dash_path) %> hidden-print"><%= link_to "Dashboard", dash_path %></li>
            <li class="<%= "active" if current_page?(owners_path) %> hidden-print"><%= link_to "Owners", owners_path %></li>
            <li class="<%= "active" if current_page?(shipments_path) %> hidden-print"><%= link_to "Shipments", shipments_path %></li>
            <li class="<%= "active" if current_page?(vessels_path) %> hidden-print"><%= link_to "All vessels", vessels_path %></li>
            
            <% if user_signed_in? %>
              <li class="<%= "active" if current_page?('login_path') %> hidden-print"><%= link_to (current_user.email), edit_user_registration_path %></li>
              <li class="<%= "active" if current_page?('logout_path') %> hidden-print"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li class="<%= "active" if current_page?('login_path') %> hidden-print"><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
          <!--<form class="navbar-form navbar-right">
            <input class="form-control" type="text" placeholder="Search...">
          </form>-->
        </div>
      </div>
    </div>
  </div>
</div>